@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-luckiest-guy: var(--font-luckiest-guy);
  --font-anak-paud: var(--font-anak-paud);
  --font-onest: var(--font-onest);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  background-image: url("/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--font-luckiest-guy);
}
